@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-zinc-50 text-zinc-900 font-sans transition-colors duration-200;
    }
    
    .dark body {
        @apply bg-zinc-900 text-zinc-100;
    }
}
